body { background-image:url('https://hips.hearstapps.com/hmg-prod/images/where-to-see-northern-lights-1547831905.gif?resize=1200:*'); 
    height: 100vh;
    background-repeat: no-repeat;
    width: 100vh;
    background-size: cover;
    background-position: center ;
}
/*.card{
   box-shadow: 0 25.6px 57.6px 0 rgb(0 0 0 / 22%),
   0 4.8px 14.4px 0 rgb(0 0 0 / 18%);
   width: 50vh;
   height: 20vh;
   padding: 10px;
   grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  margin-left: 10%;
  padding-left: 10%;
  padding-right: 10%;
  margin-top: 5%;
  background-color: rgb(255, 255, 255);
}*/
.card{box-shadow: 0 25.6px 57.6px 0 rgb(0 0 0 / 22%),
        0 4.8px 14.4px 0 rgb(0 0 0 / 18%);
       width: 15vh;
       height: 25vh;

       text-align: center;
       display: grid;
       grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      margin-left: 10%;
      padding-left: 10%;
      padding-right: 20%;
      margin-top: 5%;
      background-color: rgb(255, 255, 255);
      display :flex ;
      flex-wrap: wrap;
  position: relative;
  top: 40%;
  
   }